<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="EmploAI"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Mighty Epic"
    UpgradeCode="B58E512E-2800-460C-BA8F-8F6921A72B7F">
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perUser"
      InstallPrivileges="limited"
      Description="EmploAI Windows beta installer" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of EmploAI is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPNOREPAIR" Value="1" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="ProgramsFolderDir" Name="Programs">
          <Directory Id="INSTALLDIR" Name="EmploAI" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EmploAI" />
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="EmploAI" Level="1">
      <ComponentRef Id="EmploAIExeComponent" />
      <ComponentRef Id="InstallRootCleanupComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
  </Product>

  <Fragment>
    <Component Id="EmploAIExeComponent" Guid="D55E8A77-2EE1-4FC9-B927-AACACB541C03" Directory="INSTALLDIR">
      <RemoveFolder Id="RemoveInstallDir" On="uninstall" />
      <File
        Id="EmploAIExeFile"
        Name="EmploAI.exe"
        Source="$(var.ReleaseExe)"
        Checksum="yes" />
      <RegistryValue
        Root="HKCU"
        Key="Software\MightyEpic\EmploAI"
        Name="InstallPath"
        Type="string"
        Value="[INSTALLDIR]"
        KeyPath="yes" />
    </Component>

    <Component Id="InstallRootCleanupComponent" Guid="04E762B7-23D8-4680-9007-CFA5E8024030" Directory="ProgramsFolderDir">
      <RemoveFolder Id="RemoveProgramsFolderDir" On="uninstall" />
      <RegistryValue
        Root="HKCU"
        Key="Software\MightyEpic\EmploAI"
        Name="ProgramsFolderCreated"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Component Id="StartMenuShortcutComponent" Guid="7F1438A4-CA77-4B18-8690-28A40AC8DDE4" Directory="ApplicationProgramsFolder">
      <Shortcut
        Id="EmploAIStartMenuShortcut"
        Name="EmploAI"
        Description="Launch EmploAI"
        Target="[INSTALLDIR]EmploAI.exe"
        WorkingDirectory="INSTALLDIR" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\MightyEpic\EmploAI" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
