<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="EmploAI Beta"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Mighty Epic"
    UpgradeCode="E03A6CC4-9829-4221-96C0-B7EA33155A46">
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perUser"
      InstallPrivileges="limited"
      Description="EmploAI Windows beta installer" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of EmploAI is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)" />

    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch EmploAI now" />
    <CustomAction Id="SetLaunchTarget" Property="WixShellExecTarget" Value="[INSTALLDIR]EmploAI.exe" Execute="immediate" />
    <CustomAction Id="LaunchInstalledApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <CustomAction
      Id="SetCleanupInstalledBackend"
      Property="CleanupInstalledBackend"
      Value="&quot;[SystemFolder]cmd.exe&quot; /d /c if exist &quot;[INSTALLDIR]resources\app\backend&quot; rmdir /s /q &quot;[INSTALLDIR]resources\app\backend&quot;"
      Execute="immediate" />
    <CustomAction
      Id="CleanupInstalledBackend"
      BinaryKey="WixCA"
      DllEntry="CAQuietExec"
      Execute="deferred"
      Return="ignore"
      Impersonate="yes" />
    <CustomAction
      Id="SetCleanupManagedVoicePacks"
      Property="CleanupManagedVoicePacks"
      Value="&quot;[INSTALLDIR]resources\app\backend\EmploAIBackend.exe&quot; cleanup-runtime-home"
      Execute="immediate" />
    <CustomAction
      Id="CleanupManagedVoicePacks"
      BinaryKey="WixCA"
      DllEntry="CAQuietExec"
      Execute="deferred"
      Return="ignore"
      Impersonate="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="ProgramsFolderDir" Name="Programs">
          <Directory Id="INSTALLDIR" Name="EmploAI Beta" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EmploAI Beta" />
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="EmploAI" Level="1" Display="expand">
      <Feature Id="CoreFeature" Title="EmploAI Desktop App" Level="1" Absent="disallow" Display="hidden">
        <ComponentGroupRef Id="EmploAIReleaseFiles" />
        <ComponentRef Id="InstallMetadataComponent" />
        <ComponentRef Id="InstallRootCleanupComponent" />
        <ComponentRef Id="StartMenuShortcutComponent" />
        <ComponentRef Id="VoicePackSelectionSchemaComponent" />
      </Feature>
    </Feature>

    <UI>
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Order="1"
        Event="DoAction"
        Value="SetLaunchTarget">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed AND NOT WIX_UPGRADE_DETECTED</Publish>
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Order="2"
        Event="DoAction"
        Value="LaunchInstalledApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed AND NOT WIX_UPGRADE_DETECTED</Publish>
    </UI>

    <InstallExecuteSequence>
      <Custom Action="SetCleanupInstalledBackend" Before="CleanupInstalledBackend">NOT REMOVE="ALL"</Custom>
      <Custom Action="CleanupInstalledBackend" Before="InstallFiles">NOT REMOVE="ALL"</Custom>
      <Custom Action="SetCleanupManagedVoicePacks" Before="CleanupManagedVoicePacks">REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="CleanupManagedVoicePacks" Before="RemoveFiles">REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Component Id="VoicePackSelectionSchemaComponent" Guid="938D57F0-E1E2-48E4-B893-14C1D44AE44A" Directory="INSTALLDIR">
      <RegistryValue
        Root="HKCU"
        Key="Software\MightyEpic\EmploAIBeta\VoicePacks"
        Name="SelectionSchemaVersion"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Component Id="InstallMetadataComponent" Guid="D55E8A77-2EE1-4FC9-B927-AACACB541C03" Directory="INSTALLDIR">
      <RemoveFolder Id="RemoveInstallDir" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\MightyEpic\EmploAIBeta" Name="InstallPath" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
    </Component>

    <Component Id="InstallRootCleanupComponent" Guid="04E762B7-23D8-4680-9007-CFA5E8024030" Directory="ProgramsFolderDir">
      <RemoveFolder Id="RemoveProgramsFolderDir" On="uninstall" />
      <RegistryValue
        Root="HKCU"
        Key="Software\MightyEpic\EmploAIBeta"
        Name="ProgramsFolderCreated"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Component Id="StartMenuShortcutComponent" Guid="7F1438A4-CA77-4B18-8690-28A40AC8DDE4" Directory="ApplicationProgramsFolder">
      <Shortcut
        Id="EmploAIStartMenuShortcut"
        Name="EmploAI Beta"
        Description="Launch EmploAI Beta"
        Target="[INSTALLDIR]EmploAI.exe"
        WorkingDirectory="INSTALLDIR" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\MightyEpic\EmploAIBeta" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
